.mt10 {
    margin-top: 10px;
}

.box-module {
    border-bottom: 2px #15a1b1 solid;
}

.item-re-list {
    border: 1px #b0aeae solid;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.item-re-list h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 13px;
    font-weight: 700;
}

.box-title-item label {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    width: 55px;
    text-transform: uppercase;
}

.bg-modul {
    background: #15a1b1;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 16px 6px 13px;
    display: inline-block;
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
}

.box-img-thumb {
    width: 150px;
    float: left;
    margin-right: 15px;
}

#box-home-svip .box-info-list {
    width: 521px;
}
.box-info-list {
    float: left;
    width: 538px;
}

#box-home-svip {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 1000px;
    margin-bottom: 15px;
}

.bg-modul {
    background: #15a1b1;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 16px 6px 13px;
    display: inline-block;
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
}

.border-box {
    border: 1px #ddd solid;
    padding: 10px;
}